.kidneyKidneydrawerNavBox {
    background-color: #1c2e4a;
    width: 5%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    border-right: 5px solid;

    .kidneylinks span {
        display: none;

    }

    .kidneylogo h1 {
        display: none;
    }

    .kidneylinks li {
        margin: 8% auto 0% auto;
        text-decoration: none;
        list-style: none;
    }

    .kidneylinksFooter span {
        display: none;
    }

    .kidneylinksFooter li {
        margin: 8% auto 0% auto;
        list-style: none;
    }
}

.kidneyKidneydrawerNavBox:hover {
    width: 20%;
    transition: 100ms;

    .kidneylogo h1 {
        /* background-color: red; */
        text-align: center;
        color: wheat;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: block;
        width: 100%;
    }

    .kidneylinks li {
        margin: 8% 0% 0% 0%;
        /* background-color: blue; */
        color: white;
        display: block;
        width: 41%;
        text-align: end;
    }

    .kidneylinks span {
        margin: 8% 0% 0% 7%;
        /* background-color: red; */
        color: white;
        display: block;
        width: 100%;
        text-align: start;
        font-size: 18px;
        text-decoration: none;
    }

    .kidneylinks .kidneya {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;

    }

    .kidneyKidneydrawerNavBoxFooter {
        /* background-color: blue; */
        height: 100vh;
        width: 100%;
        margin: 5% 0% 0% 0%;
    }

    .kidneylinksFooter li {
        margin: 8% 0% 0% 0%;
        /* background-color: red; */
        color: white;
        display: block;
        width: 41%;
        text-align: end;
    }

    .kidneylinksFooter span {
        margin: 8% 0% 0% 7%;
        /* background-color: red; */
        color: white;
        display: block;
        width: 100%;
        text-align: start;
        font-size: 15px;
        text-decoration: none;
    }

}

.kidneylogo {
    /* background-color: aliceblue; */
    height: 10%;
    align-content: center;
}


.kidneyKidneydrawerNavBoxLinks {
    /* background-color: wheat; */
    height: max-content;
}

.kidneylinks {
    width: 100%;
    display: flex;
}

.kidneylinks:hover {
    background-color: gray;
    width: 100%;
    transition: 1s;
    opacity: 0.kidney8;
}

.kidneylinks .kidneya.kidneyactive {
    background-color: gray;
    padding: 10px;
}

.kidneylinks .kidneyaLogo {
    font-size: 25px;
}


.kidneyKidneydrawerNavBoxFooter {
    /* background-color: blue; */
    height: 100vh;
    width: 100%;
    margin: 105% 0% 0% 0%;
}

.kidneylinksFooter {
    width: 100%;
    display: flex;
    margin-left: 10%;
}

.kidneylinksFooter:hover {
    background-color: gray;
    width: 100%;
    transition: 1s;
    opacity: 0.kidney8;
}


.kidneylinksFooter .kidneya {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.kidneylinksFooter .kidneyaLogo {
    font-size: 30px;
}

.kidneylinksFooter .kidneya.kidneyactive {
    background-color: gray;
    padding: 10px;
}