.SuperAdmindrawerNavBox {
    background-color: #1c2e4a;
    width: 5%;
    height: 100vh;
    overflow: scroll;
    align-items: center;
    border-right: 5px solid;

    .superAdminlinks span {
        display: none;

    }

    .superAdminlogo h1 {
        display: none;
    }

    .superAdminlinks li {
        margin: 8% auto 0% auto;
        text-decoration: none;
        list-style: none;
    }

    .superAdminlinksFooter span {
        display: none;
    }

    .superAdminlinksFooter li {
        margin: 8% auto 0% auto;
        list-style: none;
    }

    .superAdminlinksFooter button {
        display: none;
    }
}

.SuperAdmindrawerNavBox::-webkit-scrollbar {
    display: none;
}

.SuperAdmindrawerNavBox:hover {
    width: 20%;
    transition: 100ms;

    .superAdminlogo h1 {
        /* background-color: red; */
        text-align: center;
        color: wheat;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: block;
        width: 100%;
    }

    .superAdminlinks li {
        margin: 8% 0% 0% 0%;
        /* background-color: blue; */
        color: white;
        display: block;
        width: 41%;
        text-align: end;
    }

    .superAdminlinks span {
        margin: 8% 0% 0% 7%;
        /* background-color: red; */
        color: white;
        display: block;
        width: 100%;
        text-align: start;
        font-size: 18px;
        text-decoration: none;
    }

    .superAdminlinks .superAdmina {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;

    }

    .SuperAdmindrawerNavBoxFooter {
        /* background-color: blue; */
        height: 100vh;
        width: 100%;
        margin: 5% 0% 0% 0%;
    }

    .superAdminlinksFooter li {
        margin: 8% 0% 0% 0%;
        /* background-color: red; */
        color: white;
        display: block;
        width: 41%;
        text-align: end;
    }

    .superAdminlinksFooter span {
        margin: 8% 0% 0% 7%;
        /* background-color: red; */
        color: white;
        display: block;
        width: 100%;
        text-align: start;
        font-size: 15px;
        text-decoration: none;
    }

    .superAdminlinksFooter button {
        margin: 8% 0% 0% 7%;
        background-color: red;
        color: white;
        display: block;
        /* width: max-content; */
        text-align: start;
        font-size: 15px;
        text-decoration: none;
        padding: 10px;
    }

}

.superAdminlogo {
    /* background-color: aliceblue; */
    height: 25%;
    align-content: center;
}


.SuperAdmindrawerNavBoxLinks {
    /* background-color: wheat; */
    height: max-content;
}

.superAdminlinks {
    width: 100%;
    display: flex;
}

.superAdminlinks:hover {
    background-color: gray;
    width: 100%;
    transition: 1s;
    opacity: 0.superAdmin8;
}

.superAdminlinks .superAdmina.superAdminactive {
    background-color: gray;
    padding: 10px;
}

.superAdminlinks .superAdminaLogo {
    font-size: 25px;
}


.SuperAdmindrawerNavBoxFooter {
    /* background-color: blue; */
    height: 100vh;
    width: 100%;
    margin: 105% 0% 0% 0%;
}

.superAdminlinksFooter {
    width: 100%;
    display: flex;
    margin-left: 10%;
}

.superAdminlinksFooter:hover {
    background-color: gray;
    width: 100%;
    transition: 1s;
    opacity: 0.superAdmin8;
}


.superAdminlinksFooter .superAdmina {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.superAdminlinksFooter .superAdminaLogo {
    font-size: 30px;
}

.superAdminlinksFooter .superAdmina.superAdminactive {
    background-color: gray;
    padding: 10px;
}