.KidneyOrganMainBox {
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #7ab3e9 0%, #000B18 100%);
    overflow: hidden;
}

.KidneyOrganInfoBox {
    /* background-color: wheat; */
    height: 600px;
    width: 78%;
    margin: 2% auto 0% auto;
}

.KidneyOrganInfoBox .section1 {
    /* background-color: blue; */
    height: 10%;
}

.section1 h3 {
    text-align: center;
    /* background-color: wheat; */
    width: 20%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0% 0% 2% 2%;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.section1 div {
    /* background-color: yellow; */
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.section1 input {
    /* background-color: #1d54ac; */
    margin: 0% 5% 0% 1%;
    width: 70%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-left: 1%;
    height: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid;
    color: white;
}

.section1 input::placeholder {
    padding-left: 1%;
    text-align: start;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
}

.section1 button {
    width: 14%;
    margin: 0% 2% 0% 0%;
    height: 35px;
    background-color: #1d54ac;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    color: aqua;
}

.section2 {
    background-color: antiquewhite;
    height: 95%;
    border-radius: 10px;
    overflow: scroll;
}

.title {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title span {
    /* background-color: #1d54ac; */
    margin: 0.5%;
    width: 10%;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.searchResultBox {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    height: max-content;
}


.searchResultBox span {
    /* background-color: red; */
    margin: 0.5%;
    width: 10%;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.searchResultBox li {
    /* background-color: yellow; */
    list-style: none;
    margin: 15% 0% 7% 0%;
    height: 30px;
    align-content: center;
    color: cadetblue;
    overflow: hidden;
}

.searchResultBox button {
    background-color: #1d54ac;
    border: none;
    list-style: none;
    margin: 1% 0% 7% 0%;
    height: 30px;
    align-content: center;
    color: white;
    padding: 1% 5% 1% 1%;
    width: 80%;
    border-radius: 5px;
}


.errorMessage {
    background-color: transparent;
    height: 30px;
    align-content: center;
    width: 100%;
    text-align: center;
    margin: 2% 0% 0% 0%;
    color: red;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}